/* importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* global colors */
  --primary-color: #1d4ed8;
  --text-color: #737a86;
  --dark-text-color: #000000;
  --light-text-color: #ffffff;
  --accent-color: #facc15;
  --button-text-color: #ffffff;
  --dark-background-color: #111827;
  --gray-background-color: #f8f8f8;
  --white-background-color: #ffffff;
  --border-color: #e7e7e8;

  /* global fonts */
  --primary-font-family: "Inter", sans-serif;
  --primary-font-size: 30px;
  --primary-font-weight: 700;

  --secondary-font-family: "Inter", sans-serif;
  --secondary-font-size: 16px;
  --secondary-font-weight: 700;

  --text-font-family: "Inter", sans-serif;
  --text-font-size: 16px;
  --text-font-weight: 400;

  --accent-font-family: "Inter", sans-serif;
  --accent-font-size: 18px;
  --accent-font-weight: 700;

  /* border */
  --border: solid 1px #d9d9d9;

  /* box shadow */
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

*::selection {
  background-color: var(--accent-color);
  color: var(--light-text-color);
}

body {
  margin: 0;
}
